@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'), url(/fonts/sourcesanspro/extra-light-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(/fonts/sourcesanspro/italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url(/fonts/sourcesanspro/bold-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(/fonts/sourcesanspro/extra-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(/fonts/sourcesanspro/regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(/fonts/sourcesanspro/bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', 'Avenir Next', 'Avenir', sans-serif;
}

hr {
  border-width: 0.5px;
}

article a:visited,
article a:link {
  color: inherit;
}

article a:hover {
  color: #222;
}

.social {
  color: #bababa;
}

.social:hover {
  color: #888;
}

.social .fa-envelope {
  font-size: 30px;
  position: relative;
  top: -2px;
}

.social .fa-matrix-org {
  font-size: 28px;
  font-weight: 900;
  position: relative;
  top: -2px;
}

.grid {
  display: grid;
}

.gtc2 {
  grid-template-columns: repeat(2, 1fr);
}

.gtc3 {
  grid-template-columns: repeat(3, 1fr);
}

.gg1 {
  grid-gap: 1em;
}

@media screen and (min-width:30em) {
  .grid-ns {
    display: grid;
  }
}

@media screen and (min-width:30em) and (max-width:60em) {
  .grid-m {
    display: grid;
  }

  .gtc2-m {
    grid-template-columns: repeat(2, 1fr);
  }

  .gtc3-m {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:60em) {
  .grid-l {
    display: grid;
  }

  .gtc2-l {
    grid-template-columns: repeat(2, 1fr);
  }

  .gtc3-l {
    grid-template-columns: repeat(3, 1fr);
  }
}

.shuffle {
  visibility: hidden;
}

.author::after {
  content: ", ";
}

.author:last-child::after {
  content: ".";
}

#catalog .slimquote {
  margin: 1em 0;
}

#TableOfContents ul {
  padding-left: 1.5rem;
}

#TableOfContents ul li {
  margin: 0.5rem 0;
}
