hr {
  border-width: 0.5px;
}

article a:visited,
article a:link {
  color: inherit;
}

article a:hover {
  color: #222;
}

.social {
  color: #bababa;
}

.social:hover {
  color: #888;
}

.grid {
  display: grid;
}

.gtc2 {
  grid-template-columns: repeat(2, 1fr);
}

.gtc3 {
  grid-template-columns: repeat(3, 1fr);
}

.gg1 {
  grid-gap: 1em;
}

@media screen and (min-width:30em) {
  .grid-ns {
    display: grid;
  }
}

@media screen and (min-width:30em) and (max-width:60em) {
  .grid-m {
    display: grid;
  }

  .gtc2-m {
    grid-template-columns: repeat(2, 1fr);
  }

  .gtc3-m {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:60em) {
  .grid-l {
    display: grid;
  }

  .gtc2-l {
    grid-template-columns: repeat(2, 1fr);
  }

  .gtc3-l {
    grid-template-columns: repeat(3, 1fr);
  }
}

.shuffle {
  visibility: hidden;
}

.author::after {
  content: ", ";
}

.author:last-child::after {
  content: ".";
}

#catalog .slimquote {
  margin: 0;
  margin-bottom: 1em;
}
