<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex flex-column flex-row-l justify-between items-center center">
    <div class="flex">
      {{ with .Site.Params.logo }}
      <img
        class="pr3"
        src="{{ . }}"
        width="48"
        height="48"
      />
      {{ end }}
      <div class="flex items-center">
        <a href="{{ relref . "/_index.md" }}" class="f3 fw2 hover-white no-underline white-90 dib">
          {{ .Site.Title }}
        </a>
      </div>
    </div>
    <div class="flex flex-column flex-row-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
      <ul class="pl0">
        {{ range .Site.Menus.main }}
        <li class="list f5 f4-ns fw4 dib mh2 mr0-l ml3-l">
          <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</nav>
