<footer class="{{ .Site.Params.background_color_class | default "bg-black" }}
               bottom-0 w-100 pa3 ph4-ns"
        role="contentinfo"
>
  <div class="flex flex-column flex-row-ns justify-between items-center">
    <ul class="f7 fw4 white-70 ph0">
      <li class="list mv1">
        Site content available under the
        <a class="hover-white white-70"
           href="{{ .Site.Params.LicenseURL }}"
        >{{ .Site.Params.LicenseName }}</a> license
      </li>
      {{ range .Site.Menus.footer }}
      <li class="list mv1">
        <a class="hover-white white-70" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
    <div>{{ partialCached "social-follow.html" . }}</div>
  </div>
</footer>
