<a href="/blog/index.xml"
   target="_blank" rel="noopener" title="RSS"
   class="link-transition social link dib z-999 mr1">
  <i class="fas fa-rss fa-2x"></i>
</a>
<a href="mailto:feedback@malleable.systems"
   target="_blank" rel="noopener" title="Email"
   class="link-transition social link dib z-999 mr1">
  <i class="fas fa-envelope fa-2x"></i>
</a>
{{ with .Param "twitter" }}
<a href="{{ . }}"
   target="_blank" rel="noopener" title="Twitter"
   class="link-transition social link dib z-999 mr1">
  <i class="fab fa-twitter fa-2x"></i>
</a>
{{ end }}
{{ with .Param "github" }}
<a href="{{ . }}"
   target="_blank" rel="noopener" title="GitHub"
   class="link-transition social link dib z-999 mr1">
  <i class="fab fa-github fa-2x"></i>
</a>
{{ end }}
