{{ define "header" }}
  {{ partial "page-header.html" . }}
  <script src="/js/shuffle.js"></script>
{{ end }}

{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3 ph4-ns">

    <header class="mt4 w-100">
      <h1 class="f1 mb1">
        {{- .Title -}}
      </h1>
      {{ if .Date }}
      <time class="f6 mv1 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "2006-01-02" -}}
      </time>
      {{ end }}
    </header>

    <section id="catalog" class="lh-copy f5 mid-gray pr4-l">
      {{- .Content -}}

      <h1 id="works">
        Projects, papers, and discussions
      </h1>

      <ul class="shuffle list pl0">
        {{ range $key, $val := .Site.Data.catalog.works }}
        <li id="{{ $key }}" class="mv2 cf">
          <a href="#{{ $key }}" class="no-underline">
            {{ if eq .kind "paper"}}
            <i class="fas fa-file tc" title="Paper"></i>
            {{ else if eq .kind "library"}}
            <i class="fas fa-tools tc" title="Library"></i>
            {{ else if eq .kind "thesis"}}
            <i class="fas fa-graduation-cap tc" title="Thesis"></i>
            {{ else if eq .kind "tweet"}}
            <i class="fab fa-twitter tc" title="Tweet"></i>
            {{ else if eq .kind "post"}}
            <i class="fas fa-newspaper tc" title="Post"></i>
            {{ end }}
          </a>
          <span>
          {{ range .authors }}
            {{ if reflect.IsMap . }}
              {{ $author := index $.Site.Data.catalog.actors .name }}
              {{ if $author }}
              <span class="author">
                <a href="#{{ . }}">{{ $author.name }}</a> ({{ .type }})</span>
              {{ else }}
              <span class="author">{{ . }}</span>
              {{ end }}
            {{ else }}
              {{ $author := index $.Site.Data.catalog.actors . }}
              {{ if $author }}
              <span class="author"><a href="#{{ . }}">{{ $author.name }}</a></span>
              {{ else }}
              <span class="author">{{ . }}</span>
              {{ end }}
            {{ end }}
          {{ end }}
          </span>
          {{ if .location }}
          <a href="{{ .location }}"
             target="_blank" rel="noopener"
          ><span class="b mv0">{{ .title }}</span></a>.
          {{ else }}
          <span class="b mv0">{{ .title }}</span>.
          {{ end }}
          {{ with .year }}<span>{{ . }}</span>.{{ end }}
          <div class="pl4">
            {{ with .description }}<div>{{ . }}</div>{{ end }}
            {{ with .image }}
            <a href="{{ . }}" target="_blank" rel="noopener">
              <img class="db mw5 fr-ns" src="{{ . }}" />
            </a>
            {{ end }}
            {{ with .quotes }}
            <ul class="pl0">
              {{ range . }}
              <blockquote class="slimquote">{{ . | markdownify }}</blockquote>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        </li>
        {{ end }}
      </ul>

      <h1 id="actors">
        People and groups
      </h1>

      <ul class="shuffle grid gtc2-m gtc3-l gg1 list pl0">
        {{ range $key, $val := .Site.Data.catalog.actors }}
        <li id="{{ $key }}">
          <img class="w4 br-100 ba" src="{{ .avatar }}" />
          <h3 class="f4 mv0">{{ .name }}</h3>
          <div>
            {{ with .website }}
            <a href="{{ . }}"
               target="_blank" rel="noopener" title="Website"
               class="link-transition social link">
              <i class="fas fa-home"></i>
            </a>
            {{ end }}
            {{ with .twitter }}
            <a href="https://twitter.com/{{ . }}"
               target="_blank" rel="noopener" title="Twitter"
               class="link-transition social link">
              <i class="fab fa-twitter"></i>
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </ul>

      <hr/>
      <div class="tr f5 mv1">
        We welcome your <a href="{{ .Site.Params.email }}">feedback</a>
        and <a href="{{ .Site.Params.source }}">contributions</a>.
      </div>
    </section>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
{{ end }}
